# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_TARGET_CHANNEL_ID=@your_channel_username
TELEGRAM_CHANNEL_CHAT_ID=-1001234567890
TELEGRAM_CHANNEL_INVITE_LINK=https://t.me/+CkrME5tVfe5lN2Zk

# Goldex Backend API
GOLDEX_BACKEND_URL=http://goldex-service:4040

# PostgreSQL
TELEGRAM_BOT_POSTGRES_URL=postgres
TELEGRAM_BOT_POSTGRES_PORT=5432
TELEGRAM_BOT_POSTGRES_USERNAME=postgres
TELEGRAM_BOT_POSTGRES_PASSWORD=postgres
TELEGRAM_BOT_POSTGRES_DBNAME=goldex-telegram-bot

# App
TELEGRAM_BOT_PORT=3000
